.footer {
    background-color: #1e3d59;
    color: #bbb;
    line-height: 1.5;
}

.ft-main-list__link {
    text-decoration: none;
    color: #eee;
}

.ft-main-list-contacts {
    padding-left: 10px;
}

.ft-main-list__item {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.ft-main-list__link:hover {
    text-decoration: underline;
}

.schedule {
    font-size: 1.385rem;
}
.ft-title {
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    margin: 14px 0 0 0;
}

.ft-main {
    padding: 1.25rem 1.875rem 1.25rem 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 29.8125rem) {
    .ft-main {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 77.5rem) {
    .ft-main {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 700px) {
    .ft-main {
        justify-content: flex-start;
    }
}

.ft-main-item {
    padding: 1rem;
    min-width: 12.5rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-social-list__item {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #000;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.ft-legal__terms {
    color: #fff;
    text-decoration: none;
}

.ft-legal {
    text-align: center;
}